<div id="studentContainer">
    <h1>Student Roster</h1>
    <table id="studentRoster">
        <tr>
            <th> Name </th>
            <th> Age </th>
            <th> Cohort </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>

        <% @students.order('last_name ASC').each do |student_info| %>
        <tr id="student-<%= student_info.id %>">
            <td> <a href="/students/<%= student_info.id%>"> <%= student_info.last_name %> <%= student_info.first_name %> </a> </td>

            <td> <%= student_info.age %> </td>

            <% @cohort = Cohort.find(student_info.cohort_id) %>
            <td> <a href="/cohorts/<%= @cohort.id %>"> <%= @cohort.name %> </a> </td>

            <td> <a href="/students/<%= student_info.id %>/edit"><%= image_tag "icons8-edit-64.png", :class => "tableButton" %></a> </td>

            <td> <%= link_to image_tag('icons8-trash-can-64.png', :class => "tableButton"), student_path(student_info), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
        </tr>
    </table>

    <div class="floatButton"> 
        <a href="/students/new"> <%= image_tag "icons8-plus-64.png" %> </a> 
    </div>

</div>