<%= form_with model: @student do |form| %>
    <form>
        <div class="field"> 
            <label> Last Name: </label> 
            <%= form.text_field :last_name %> 
        </div>
        <div class="field"> 
            <label> First Name: </label>
            <%= form.text_field :first_name %> 
        </div>
        <div class="field"> 
            <label> Age: </label>
            <%= form.number_field :age %> 
        </div>
        <div class="field"> 
            <label> Photo: </label>
            <%= form.text_field :pic %> 
        </div>
        <div class="field"> 
            <label> Cohort ID: </label>
            <%= form.number_field :cohort_id %> 
        </div>
        <div class="field"> 
            <%= form.submit %> 
        </div>
    </form>
  <% end %>