<div id="course_name_header">
    <% @courses.each do |course_element| %>
        <h2> <%= course_element.name %> </h2>
        <h3> (<%= course_element.hours %> hours) </h3>
        <hr>
</div>
<table>
        <% @course_cohort = Cohort.where(course_id:course_element.id) %>
        <% @course_cohort.each do |cohort_element| %>
        <tr>
            <td> <a href="/cohorts/<%= cohort_element.id %>"><%= cohort_element.name %> </a> </td>
        
        <% @instructor = Instructor.find(cohort_element.instructor_id) %>
        <td> <a href="/instructors/<%= cohort_element.instructor.id %>"> <%= @instructor.last_name %> </a> </td>
        <% end %>
        </tr>
</table>
    <% end %>

<div class="add_button">
    <button> <a href="/cohorts/new"> <%= image_tag "icons8-plus-64.png" %> </a> </button>
</div>