<div id="cohortContainer">
    <% @courses.each do |course_element| %>
        <div id="courseHeader">
            <div><h2> <%= course_element.name %> </h2></div>
            <div><h3> (<%= course_element.hours %> hours) </h3></div>
        </div>
        <hr>
        <table id="cohortTable">
            <col width="150">
            <col width="100">
            <col width="85">
            <col width="85">
            <% @course_cohort = Cohort.where(course_id:course_element.id) %>
            <% @course_cohort.each do |cohort_element| %>
                <tr id="cohort-<%= cohort_element.id %>">
                    <td> <a href="/cohorts/<%= cohort_element.id %>"><%= cohort_element.name %> </a> </td>

                    <% @instructor = Instructor.find(cohort_element.instructor_id) %>
                    <td> <a href="/instructors/<%= cohort_element.instructor.id %>"> <%= @instructor.last_name %> </a> </td>

                    <td> <a href="/cohorts/<%= cohort_element.id %>/edit"><%= image_tag "icons8-edit-64.png", :class => "tableButton" %></a> </td>

                    <td> <%= link_to image_tag('icons8-trash-can-64.png', :class => "tableButton"), cohort_path(cohort_element), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>
                </tr>
            <% end %>
        </table>
    <% end %>
    <div class="floatButton">
        <a href="/cohorts/new"> <%= image_tag "icons8-plus-64.png" %></a>
    </div>
</div>