<% @cohorts.each do |cohort_element| %>
    <% @course = Course.find(cohort_element.course_id) %>
    <div>
        <h2> <%= @course.name %> </h2>
        <h3> (<%= @course.hours %> hours) </h3>
        <hr>
    </div>
    
    <table>
    <% @course_cohorts = Cohort.where(course_id:@course.id) %>
    <% @course_cohorts.each do |each_cohort_info| %>
    <tr>
        <td> <a href="/cohorts/<%= each_cohort_info.id%>"> <%= each_cohort_info.name %> </a> </td>
        <% end %>
    <% @instructor = Instructor.find(cohort_element.instructor_id) %>
        <td> <a href="/instructors/<%= cohort_element.instructor.id%>"> <%= @instructor.last_name %> </a> </td>
    </tr>
    </table>
<% end %>

<button> <a href="/cohorts/new"> <%= image_tag "icons8-plus-64.png" %> </a> </button>