<%= form_with model: @cohort do |form| %>
    <form>
        <div class="field"> 
            <label> Cohort: </label>
            <%= form.text_field :name %> 
        </div>
        <div class="field"> 
            <label> Program Dates: </label>
            <%= form.date_field :start_date %> - <%= form.date_field :end_date %> 
        </div>
        <div class="field"> 
            <label> Description: </label>
            <%=form.text_field :description %> 
        </div>
        <div class="field"> 
            <label> Course ID: </label>
            <%= form.number_field :course_id %> 
        </div>
        <div class="field"> 
            <label> Instructor ID: </label>
            <%= form.number_field :instructor_id %> 
        </div>
        <div class="field"> <%= form.submit %> </div>
    </form>
  <% end %>