<div id="instructorContainer">
    <h1>Instructors</h1>
    <table id="instructorRoster">
        <tr>
            <th> Instructor </th> 
            <th> Cohort(s) </th>
            <th> Edit </th>
            <th> Delete </th>

        </tr>
            <% @instructors.order('last_name ASC').each do |instructor_info| %>
            <tr id="instructor-<%= instructor_info.id %>">
                <% @cohort_amt = Cohort.where(instructor_id: instructor_info.id) %>
                
                <td rowspan="<%= @cohort_amt.length %>"> <a href="/instructors/<%= instructor_info.id%>"><%= instructor_info.last_name %> <%= instructor_info.first_name %> </a></td>

                <% @instructor = Instructor.find(instructor_info.id) %>
                <% @instructor_cohort = @instructor.cohorts %>
                
                <td rowspan="<%= @cohort_amt.length %>">
                <% @instructor_cohort.each do |cohort_info| %>  
            
                <a href="/cohorts/<%= cohort_info.id%>"> <%= cohort_info.name %> </a> <br>
                <% end %>
                </td>
                
                <td rowspan="<%= @cohort_amt.length %>"> <a href="/instructors/<%= instructor_info.id %>/edit"><%= image_tag "icons8-edit-64.png", :class => "tableButton" %></a></td>

                <td rowspan="<%= @cohort_amt.length %>"> <%= link_to image_tag('icons8-trash-can-64.png', :class => "tableButton"), instructor_path(instructor_info), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>
            
            </tr>
            <% end %>
    </table>

    <div class="floatButton"> 
        <a href="/instructors/new"> <%= image_tag "icons8-plus-64.png" %> </a> 
    </div>
</div>
