<%= form_with model: @instructor do |form| %>
    <ul>
        <li> Last Name: <%= form.text_field :last_name %> </li>
        <li> First Name: <%= form.text_field :first_name %> </li>
        <li> Age: <%= form.number_field :age %> </li>
        <li> Salary: <%= form.number_field :salary %> </li>
        <li> Highest Level of Education: <%= form.text_field :education %> </li>
        <li> Photo: <%= form.text_field :pic %> </li>
        <li> <%= form.submit %> </li>
    </ul>
  <% end %>