<div id="individualCourseContainer">
    <div id="courseHeader">
        <h1> <%= @course.name %> courses </h1>
        <h3> (<%= @course.hours %> hours) </h3>
        <hr>
    </div>

    <table id="courseTable">
    <% @course_cohorts.each do |cohort_info| %>
        <tr>
            <td> <a href="/cohorts/<%= cohort_info.id%>"> <%= cohort_info.name %> </a> </td>

            <% @instructor = Instructor.find(cohort_info.instructor_id) %>
            <td><%= @instructor.last_name %><td>
            <td> <a href="/cohorts/<%= cohort_info.id %>/edit"><%= image_tag "icons8-edit-64.png", :class => "tableButton" %></a> </td>

            <td> <%= link_to image_tag('icons8-trash-can-64.png', :class => "tableButton"), cohort_path(cohort_info), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
    <% end %>
    </table>
</div>
